.button a,
.button {
  cursor: pointer;
}

.button {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  line-height: 2.3rem;
  font-size: 1.8rem;
  min-width: 18.4rem;
  height: 3.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.primary {
  background-color: var(--color-secondary-gray);
  color: var(--text-color-primary);
}

.secondary {
}

.tertiary {
  font-style: italic;
  color: var(--color-black);
}

.section {
  font-style: italic;
  text-align: right;
  justify-content: flex-end;
  transition: all 0.5s;
}

.section:hover {
  transform: scale(1.2) translateX(-12px);
  color: var(--color-gray);
}
