.navigation {
  background-color: var(--color-primary);
  height: 6.2rem;
  font-family: var(--main-font-family);
  padding: var(--main-left-right-padding);
  border-bottom: 1px solid var(--color-secondary-gray);
}

.navigationWrapper {
  max-width: var(--page-width);
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Logo {
  font-size: var(--main-logo-font);
  font-weight: 300;
}

@media screen and (max-width: 1000px) {
  .Logo {
    font-size: 1.5rem;
  }
  .navigation {
    font-size: 1.5rem;
  }
}
